/*
  Post
*/

.post-date {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}

@media (max-width: $elements-responsive-width) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.info {
  background-color: #DDD;
  border-left: 4px solid #999;
  padding: 20px;
  color: black;
}

.note {
  background-color: #CEF;
  border-left: 4px solid #09F;
  padding: 20px;
}

.warn, .warning {
  background-color: #EE9;
  border-left: 4px solid #FA0;
  padding: 20px;
}

.error, .fatal, .danger {
  background-color: #F99;
  border-left: 4px solid #F23;
  padding: 20px;
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}
